name: Autorelease
on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      new_version:
        description: 'New tag version'
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major
  schedule:
    - cron: '0 2 * * 6'

jobs:
  autorelease:
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      USERNAME: ${{ github.actor }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
      pull-requests: write
    steps:
      - name: Login to registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.USERNAME }}
          password: ${{ github.token }}

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3

      - name: Setup git config
        run: |
          git config user.name actions-bot
          git config user.email actions-bot@users.noreply.github.com

      - name: Install dependencies
        run: mise run install

      - name: Codegen
        run: mise run codegen

      - name: Create Pull Request if there is new stuff from updaters
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8
        if: github.event_name != 'pull_request'
        id: pr_create
        with:
          commit-message: Updater script changes
          branch: updater-bot
          delete-branch: true
          title: 'Updater: stuff changed'
          body: |
            Changes caused from update scripts

      - name: Stop if a pull request was created
        if: github.event_name != 'pull_request'
        env:
          PR_NUMBER: ${{ steps.pr_create.outputs.pull-request-number }}
        run: |
          if [[ ! -z "$PR_NUMBER" ]]; then
            echo "The update scripts changed something and a PR was created. Giving up deploy." >> $GITHUB_STEP_SUMMARY
            exit 1
          fi

      - name: CI and tests
        run: mise run ci

      - name: Determine Release Version
        if: github.event_name == 'workflow_dispatch' || startsWith(github.ref, 'refs/tags/')
        env:
          NEW_VERSION: ${{ github.event.inputs.new_version }}
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" && ! -z "$NEW_VERSION" ]]; then
            NO_TAG=1 ./make_release "$NEW_VERSION"
            echo "RELEASE_VERSION=$(cat version.txt)" >> $GITHUB_ENV
            echo "New version: $(cat version.txt)" >> $GITHUB_STEP_SUMMARY
          elif [[ "${{ github.ref }}" == refs/tags/* ]]; then
            echo "RELEASE_VERSION=${{ github.ref_name }}" >> $GITHUB_ENV
            echo "Release version: ${{ github.ref_name }}" >> $GITHUB_STEP_SUMMARY
          fi

      - name: Build binaries and container
        if: env.RELEASE_VERSION != ''
        env:
          TAG: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        run: |
          echo "::group::Build container"
          docker build -t "$TAG:latest" .
          echo "::endgroup::"

          mkdir build -p

          echo "# Built targets" >> $GITHUB_STEP_SUMMARY
          export CGO_ENABLED=0
          go tool dist list | grep -v wasm | while IFS=/ read -r GOOS GOARCH; do
            echo "::group::Build $GOOS/$GOARCH"
            GOOS=$GOOS GOARCH=$GOARCH go build -v -o build/rotulador-$GOOS-$GOARCH ./cmd/rotulador && (echo "- $GOOS/$GOARCH" >> $GITHUB_STEP_SUMMARY) || true
            echo "::endgroup::"
          done

      - name: Create release
        if: env.RELEASE_VERSION != ''
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ env.RELEASE_VERSION }}
          TITLE: Release ${{ env.RELEASE_VERSION }}
        run: |
          gh release create "$TAG" \
           --title "$TITLE" \
           --generate-notes \
           --notes-start-tag $(gh release list --limit 1 --json tagName -q .[].tagName)

      - uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2
        if: env.RELEASE_VERSION != ''
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/*
          tag: ${{ env.RELEASE_VERSION }}
          overwrite: true
          file_glob: true

      - name: 'Publish container'
        if: env.RELEASE_VERSION != ''
        env:
          TAG: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        run: |
          VERSION="${{ env.RELEASE_VERSION }}"
          docker tag "$TAG:latest" "$TAG:$VERSION"
          docker push "$TAG:$VERSION"
          docker push "$TAG:latest"
